body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.project-dialog {
  display: flex;
  gap: 10px;
}

.task-dialog {
  display: flex;
  gap: 10px;
}