
/* Use for general content */
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Use for section lists, header */
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

:root {
  --header-bg-color: rgb(20, 33, 61);
  --sidebar-bg-color: rgb(0, 0, 0);
  --content-bg-color: background-color: #f9fcff;
                      background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
  --footer-bg-color: transparent;
  --accent-color: rgb(252, 163, 17);
  --font-color: rgb(255, 255, 255);
  --font-color-content: rgb(0, 0, 0);
  --font-family: "Roboto", sans-serif;
  --task-width: clamp(200px, 50vw, 800px);
  --sidebar-width: 300px;
  --sidebar-collapsed-width: 110px;
}

html {
  overflow: hidden;
}

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: var(--font-family);
}

.grid-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(110px, var(--sidebar-width)) repeat(2, minmax(280px ,1fr));
  grid-template-rows: 80px repeat(2, 1fr) 40px;

  grid-template-areas: "logo      header     header"
                       "sidebar   content    content"
                       "sidebar   content    content"
                       "sidebar   footer     footer";
}

/* SIDEBAR COLLAPSE */
.header-left input[type="checkbox"] {
  display: none;
} 

.header-left span {
  color: white;
} 

.sidebar-custom-checkbox {
  display: flex;
  min-width: 60px;  
  height: 25px; 
  border: 0.05rem solid rgb(245, 238, 238);
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
  position: relative;
  align-items: center; 
  justify-content: center; 
  cursor: pointer;
} 

.sidebar.collapsed {
  width: var(--sidebar-collapsed-width);
}

/* Adjust content position when sidebar is collapsed */
.sidebar.collapsed + .content-wrapper .flex-task,
.sidebar.collapsed ~ .footer a { 
  margin-right: calc(var(--sidebar-width) - var(--sidebar-collapsed-width)); /* Use this for Sidebar collapse with transition 'margin-right' */
  margin-left: calc(var(--sidebar-width) - var(--sidebar-collapsed-width));  /* Use this to recenter content when content has expanded */
} 

.sidebar.collapsed #menu li img {
  margin-right: 40px;
}

/* Prevent list images from being dragged */
.sidebar.collapsed #menu img {
  pointer-events: auto;
  -webkit-user-drag: none; 
  -moz-user-drag: none; 
  -o-user-drag: none; 
}

.sidebar #menu li {
  display: flex; 
  align-items: center; 
}

.sidebar.collapsed #menu li {
  width: clamp(30px, 20vw, 50px);
  pointer-events: none;
  color: transparent;
}

.sidebar.collapsed .project {
  width: clamp(30px, 20vw, 55px);
}

.sidebar.collapsed button#clickProject {
  margin-left: -7px;
}

.sidebar.collapsed #menu li span,
.sidebar.collapsed #project-main-title,
.sidebar.collapsed .project-title {
  display: none;
}

.sidebar.collapsed button.btn-drop-up-toggle {
  margin-left: -17px;
  height: 35px;
  width: clamp(20px, 40vw, 55px);
}

.sidebar.collapsed .drop-up-wrapper {
  width: 32px;
}


/* HEADER */
.header {
  grid-area: header;
  background-color: var(--header-bg-color);
}

.header-left {
  background-color: var(--header-bg-color);
  grid-area: logo;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* gap: 50px; */
  padding-left: 40px;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.header-title {
  font-size: 2rem;
  color: var(--font-color);
}

/* MENU SIDEBAR */
.sidebar {
  grid-area: sidebar;
  background-color: var(--sidebar-bg-color);
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 25px;
  width: var(--sidebar-width); 
  transition: width 0.3s ease;
}

.sidebar ul#menu {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding-left: 30px;
}

.sidebar ul#menu li {
  list-style-type: none;
  font-size: 1.3rem;
  cursor: pointer;
  color: var(--font-color);
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 15px;
  width: clamp(140px, 20vw, 230px);
  padding-left: 10px;
  height: 40px;
}

.sidebar ul#menu li:hover,
.project:hover:not(:has(.drop-up-menu:hover)) {
  background-color: rgba(255, 166, 0, 0.213);
  border-radius: 10px;
}

#menu li img {
  height: 30px;
}

/* PROJECT SECTION SIDEBAR */
#project-container {
  background-color: var(--sidebar-bg-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-flex {
  padding-left: 40px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#project-container div#project-main-title {
  font-size: 1.3rem;
  color: var(--font-color);
  font-weight: 500;
  min-width: 150px;
}

#project-container button#clickProject {
  width: clamp(20px, 5vw, 45px);
  height: 40px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  appearance: none;
  cursor: pointer;
  margin-right: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  transition: transform 0.4s ease;
}

#project-container button#clickProject:hover {
  background-color: rgba(202, 159, 4, 0.78);
  transform: scale(1.1);
}

button#clickProject img {
  height: 37px;
  align-self: center;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: clamp(150px, 40vw, 250px);
  margin-left: 28px;
  gap: 50px;
  cursor: pointer;
  padding: 0;
  padding-left: 17px;
  transition: width 0.3s ease;
}

.item-highlight {
  border: 0.5px solid var(--accent-color);
  transition: width 0.3s ease;
  border-radius: 10px;
  height: 40px;
}

.project div.project-title {
  font-size: 1.2rem;
  color: var(--font-color);
}

.project div.project-title::before {
  content: "#";
  padding-right: 3px;
  color: var(--accent-color);
}

/* Drop Up Menu popup */
div.drop-up-wrapper {
  position: relative;
  display: inline-block;
  padding-right: 15px;
}

button.btn-drop-up-toggle {
  display: flex;
  justify-content: center;
  width: clamp(20px, 10vw, 30px);
  height: 30px;
  border: none;
  background-color: transparent;
  color: var(--font-color);
  font-size: 1.4rem;
  cursor: pointer;
  transition: transform 0.4s ease;
}


button.btn-drop-up-toggle:hover {
  transform: scale(1.2);
}

img.action-img {
  height: 20px;
  align-self: center;
}

.wrap-content img.action-img {
  height: 22px;
}


/* Prevent image drag */
button img {
  pointer-events: none; 
}

button {
  -webkit-user-select: none;  
  -moz-user-select: none;     
  -ms-user-select: none;      
  user-select: none;         
}

/* Drop up menu */
div.drop-up-menu {
  display: none;
  flex-direction: column;
  border-radius: 10px;
  gap: 10px;
  padding: 10px;
  position: absolute;
  bottom: -25px;
  left: 70px;
  background-color: #2f2d2d;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  cursor:auto;
  padding: 12px 0 12px 10px;
}

div.drop-up-menu button {
  display: flex;
  align-items: center;
}

button.editProject,
button.deleteProject {
  width: 50%;
  height: 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  margin-left: 25px;
  color: var(--font-color);
  background-color: transparent;
  transition: transform 0.4s ease;
}

button.editProject:hover,
button.deleteProject:hover {
  transform: scale(1.08);
}

button.editProject::before {
  content: "";
  position: absolute; 
  top: 50%; 
  left: -20px; 
  width: 20px; 
  height: 20px; 
  background: url(../assets/images/edit.svg);
  background-size: cover;
  transform: translateY(-50%);
}

button.deleteProject::before {
  content: ""; 
  position: absolute;
  top: 50%; 
  left: -20px; 
  width: 20px; 
  height: 20px; 
  background: url(../assets/images/delete.svg);
  background-size: cover;
  transform: translateY(-50%);
}

.project-dialog {
  width: clamp(150px, 30vw, 350px);
  border-radius: 10px;
  border: none;
  border: 1px solid black;
}

.project-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 15px;
}

label[for="projectName"] {
  font-size: 1.2rem;
}

.project-form input[type="text"] {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.313);
  outline: none;
  font-size: 1.1rem;
}

.project-btn-modal {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

#createProject,
#cancelProject {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--font-color-content);
  border-radius: 8px;
  padding: 5px;
  width: clamp(30px, 40vw, 150px);
  font-size: 1.1rem;
  border: 1px solid black;
}

#createProject:hover,
#cancelProject:hover,
#createTask:hover,
#cancelTask:hover {
  background-color: rgb(238, 236, 236);
}

/* MAIN CONTENT / TASK SECTION */
.content-wrapper {
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background-color: var(--content-bg-color);
  color: var(--font-color-content);
}

.flex-task {
  transition: margin-right 0.3s ease; 
  width: var(--task-width);
}

#task-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.content-wrapper div#section-title {
  margin-top: 50px;
  font-size: 1.9rem;
  align-self: center;
  font-weight: 500;
}

.content-wrapper button#clickTask {
  position: relative;
  height: 40px;
  align-self: center;
  text-align: start;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding-left: 30px;
  font-size: 1.2rem;
  transition: transform 0.4s ease;
  margin-top: 5px;
}

.content-wrapper button#clickTask:hover {
  transform: scale(1.1); 
}

.content-wrapper button#clickTask::before {
  content: ""; 
  position: absolute;
  top: 50%; 
  left: -5px; 
  width: 30px; 
  height: 30px; 
  background: url(../assets/images/add-dark.svg);
  background-size: cover;
  transform: translateY(-50%);
}

.task {
  display: flex;
  background-color: rgb(255, 255, 255);
  border: 0.5px solid rgb(0, 0, 0);
  border-radius: 15px;
  width: var(--task-width);
  height: 50px;
  gap: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.task:last-of-type {
  margin-bottom: 2px;
}

.task:first-of-type {
  margin-top: 5px;
}

.wrap-content {
  position: relative;
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
}

/* DOM Task elements */
.left-task {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  gap: 20px;
}

.right-task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: clamp(100px, 40vw, 180px);
}

.left-task input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  display: flex;
  width: 25px;  
  height: 25px; 
  border: 0.05rem solid black;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
  position: relative;
  align-items: center; 
  justify-content: center; 
  cursor: pointer;
}

.custom-checkbox:hover {
  background-color: rgb(240, 239, 239);
}

.checkbox-disabled {
  background-color: #e0e0e0;
  border-color: #aaa;
  pointer-events: none; 
  opacity: 0.5;
}

.custom-checkbox::after {
  content: "";
  background: url(../assets/images/checkMark.svg);
  background-size: cover;
  width: 20px;
  height: 20px; 
  opacity: 0;
  transition: opacity 0.4s;
}

input[type="checkbox"]:checked + .custom-checkbox::after {
  opacity: 1;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  display: none;
}

div.task-title {
  font-size: 1.2rem;
}

div.date {
  font-size: 1.2rem;
  text-align: start;
  padding-right: 5px;
  padding-left: 50px;
  width: clamp(50px, 40vw, 170px);
}

.stylePastDue {
  color: rgb(166, 37, 37);
}

div.priority {
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 10px;
}

div.task-btn-wrapper {
  display: flex;
  gap: 10px;
}

.deleteTask {
  width: 25px;
  height: 25px;
}

.editTask {
  width: 45px;
  height: 25px;
}

div.drop-up-menu {
  display: none;
  flex-direction: column;
  border-radius: 10px;
  gap: 10px;
  padding: 10px;
  position: absolute;
  bottom: -25px;
  left: 70px;
  background-color: #2f2d2d;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  cursor:auto;
  padding: 12px 0 12px 10px;
}

div.drop-up-menu button {
  display: flex;
  align-items: center;
}

.task .drop-up-wrapper {
  margin-right: 10px;
}

button.editTask,
button.deleteTask {
  border: none;
  cursor: pointer;
  position: relative;
  margin-left: 25px;
  color: var(--font-color);
  background-color: transparent;
  transition: transform 0.4s ease;
}

button.editTask:hover,
button.deleteTask:hover {
  transform: scale(1.08);
}

button.editTask::before {
  content: "";
  position: absolute; 
  top: 50%; 
  left: -20px; 
  width: 20px; 
  height: 20px; 
  background: url(../assets/images/edit.svg);
  background-size: cover;
  transform: translateY(-50%);
}

button.deleteTask::before {
  content: ""; 
  position: absolute;
  top: 50%; 
  left: -20px; 
  width: 20px; 
  height: 20px; 
  background: url(../assets/images/delete.svg);
  background-size: cover;
  transform: translateY(-50%);
}

button.deleteAll {
  border-radius: 10px;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.494);
  width: clamp(50px, 40vw, 120px);
  height: 35px;
  align-self: center;
  cursor: pointer;
  background-color: rgba(71, 74, 249, 0.065);
  font-size: 1.2rem;
  margin-top: 10px;
}

.flex-task:has(.deleteAll) {
  .task:last-of-type {
    margin-bottom: 8px;
  }  
}

button.deleteAll:hover {
  background-color: rgb(196, 211, 239);
}

::placeholder {
  color: rgba(123, 122, 122, 0.701);
}

.task-dialog {
  width: clamp(100px, 30vw, 550px);
  border-radius: 10px;
  border: none;
  border: 1px solid black;
}

.task-form {
  display: flex;
  flex-direction: column;
  gap: 20px; 
  width: 90%;
  padding: 10px 15px;
}

.task-form .flex-inputs {
  display: flex;
  gap: 20px;
}

.task-form input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.313);
  outline: none;
  font-size: 1.1rem;
}

.task-form #taskName {
  width: 50%;
}

.task-form textarea {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.313);
  outline: none;
  width: 100%;
  height: 100px;
  resize: none;
  font-size: 1.1rem;
}

.task-form select {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.313);
  outline: none;
  cursor: pointer;
  padding-bottom: 2px;
  font-size: 1.1rem;
}

#priority:focus option:first-of-type {
  display: none;
}

.task-form #date {
  position: relative;
  padding-bottom: 2px;
  width: clamp(70px, 40vw, 100px);
}

/* Make whole calendar input clickable */
input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

label[for="taskName"],
label[for="description"] {
  font-size: 1.2rem;
  margin-bottom: -10px;
}

.task-btn-modal {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

#createTask, 
#cancelTask {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--font-color-content);
  border-radius: 8px;
  padding: 5px;
  width: clamp(30px, 40vw, 120px);
  border: 1px solid black;
  font-size: 1.1rem;
}

dialog {
  padding: 20px;
  border: 2px solid #000;
}

/* FOOTER */
.footer {
  grid-area: footer;
  background-color: var(--footer-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  height: 20px;
  width: 20px;
  transition: transform 0.4s ease;
}

.footer span {
  color: var(--font-color-content);
}

.footer a {
  text-decoration: none;
  color: var(--font-color);
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  transition: margin-right 0.3s ease; /* Ensure the margin-left has a smooth transition */
}

.footer img:hover {
  transform: scale(1.1);
} 

.footer span:hover {
  border-bottom: 1px solid black;
}

.footer a:visited {
  color: var(--font-color);
  text-decoration: none;
}

.footer span {
  font-size: 1rem;
}






