
/* Use for general content */
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Use for section lists, header */
@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

:root {
  --header-bg-color: rgb(6, 47, 54);
  --sidebar-bg-color: rgb(0, 0, 0);
  --content-bg-color: background-color: #f9fcff;
                      background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
  --footer-bg-color: transparent;
  --accent-color: rgb(252, 163, 17);
  --font-color: rgb(255, 255, 255);
  --font-color-content: rgb(0, 0, 0);
  --font-family: "Roboto", sans-serif;
  --task-width: clamp(200px, 50vw, 800px);
}

html {
  overflow: hidden;
}

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: var(--font-family);
}

.grid-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(180px, 300px) repeat(2, minmax(280px ,1fr));
  grid-template-rows: 80px repeat(2, 1fr) 40px;

  grid-template-areas: "logo      header     header"
                       "sidebar   content    content"
                       "sidebar   content    content"
                       "sidebar   footer     footer";
}

/* HEADER */
.header {
  grid-area: header;
  background-color: var(--header-bg-color);
}

.header-left {
  background-color: var(--header-bg-color);
  grid-area: logo;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* gap: 50px; */
  padding-left: 40px;
  font-weight: 500;
  letter-spacing: 0.1em;
}


/*
.header-logo input {
  outline: 1px solid black;
}

.header-logo {
  padding-left: 50px;
} */

.header-title {
  font-size: 2rem;
  color: var(--font-color);
}

/* MENU SIDEBAR */
.sidebar {
  grid-area: sidebar;
  background-color: var(--sidebar-bg-color);
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 25px;
}

.sidebar ul#menu {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding-left: 30px;
}

.sidebar ul#menu li {
  list-style-type: none;
  font-size: 1.3rem;
  cursor: pointer;
  color: var(--font-color);
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 15px;
  width: clamp(140px, 20vw, 230px);
  padding-left: 10px;
  height: 40px;
}

.sidebar ul#menu li:hover,
.project:hover:not(:has(.drop-up-menu:hover)) {
  background-color: rgba(255, 166, 0, 0.213);
  border-radius: 10px;
}

#menu li img {
  height: 30px;
}

/* PROJECT SECTION SIDEBAR */
#project-container {
  background-color: var(--sidebar-bg-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-flex {
  padding-left: 40px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#project-container div#project-main-title {
  font-size: 1.3rem;
  color: var(--font-color);
  font-weight: 500;
}

#project-container button#clickProject {
  width: clamp(20px, 5vw, 45px);
  height: 40px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  appearance: none;
  cursor: pointer;
  margin-right: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  transition: transform 0.4s ease;
}

#project-container button#clickProject:hover {
  background-color: rgba(202, 159, 4, 0.78);
  transform: scale(1.1);
}

button#clickProject img {
  height: 37px;
  align-self: center;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: clamp(200px, 40vw, 250px);
  margin-left: 28px;
  gap: 50px;
  cursor: pointer;
  padding: 0;
  padding-left: 17px;
}

.item-highlight {
  border: 0.5px solid var(--accent-color);
  border-radius: 10px;
  height: 40px;
}

.project div.project-title {
  font-size: 1.2rem;
  color: var(--font-color);
}

.project div.project-title::before {
  content: "#";
  padding-right: 3px;
  color: var(--accent-color);
}

/* Drop Up Menu popup */
div.drop-up-wrapper {
  position: relative;
  display: inline-block;
  padding-right: 15px;
}

button.btn-drop-up-toggle {
  display: flex;
  justify-content: center;
  width: clamp(20px, 10vw, 30px);
  height: 30px;
  border: none;
  background-color: transparent;
  color: var(--font-color);
  font-size: 1.4rem;
  cursor: pointer;
  transition: transform 0.4s ease;
}


button.btn-drop-up-toggle:hover {
  transform: scale(1.2);
}

img.action-img {
  height: 20px;
  align-self: center;
}

.wrap-content img.action-img {
  height: 22px;
}


/* Prevent image drag */
button img {
  pointer-events: none; 
}

button {
  -webkit-user-select: none;  
  -moz-user-select: none;     
  -ms-user-select: none;      
  user-select: none;         
}

/* Drop up menu */
div.drop-up-menu {
  display: none;
  flex-direction: column;
  border-radius: 10px;
  gap: 10px;
  padding: 10px;
  position: absolute;
  bottom: -25px;
  left: 70px;
  background-color: #2f2d2d;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  cursor:auto;
  padding: 12px 0 12px 10px;
}

div.drop-up-menu button {
  display: flex;
  align-items: center;
}

button.editProject,
button.deleteProject {
  width: 50%;
  height: 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  margin-left: 25px;
  color: var(--font-color);
  background-color: transparent;
  transition: transform 0.4s ease;
}

button.editProject:hover,
button.deleteProject:hover {
  transform: scale(1.08);
}

button.editProject::before {
  content: "";
  position: absolute; 
  top: 50%; 
  left: -20px; 
  width: 20px; 
  height: 20px; 
  background: url(../assets/images/edit.svg);
  background-size: cover;
  transform: translateY(-50%);
}

button.deleteProject::before {
  content: ""; 
  position: absolute;
  top: 50%; 
  left: -20px; 
  width: 20px; 
  height: 20px; 
  background: url(../assets/images/delete.svg);
  background-size: cover;
  transform: translateY(-50%);
}

.project-dialog {
  position: absolute;
  display: none; /* Set to flex when project btn is clicked in JS, so it doesn't look for hidden input in the first place */
  top: 20%;
  left: 0;
  width: 300px;
}

/* MAIN CONTENT / TASK SECTION */
.content-wrapper {
  max-height: 90vh;
  overflow-y: auto;
  grid-area: content;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: var(--content-bg-color);
  color: var(--font-color-content);
}

#task-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.content-wrapper div#section-title {
  margin-top: 50px;
  font-size: 1.9rem;
  align-self: center;
  width: 10%;
  margin-right: calc(var(--task-width) - 10%);
  font-weight: 500;
}

.content-wrapper button#clickTask {
  position: relative;
  height: 40px;
  width: 10%;
  align-self: center;
  margin-right: calc(var(--task-width) - 10%); 
  text-align: start;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding-left: 30px;
  font-size: 1.2rem;
  transition: transform 0.4s ease;
}

.content-wrapper button#clickTask:hover {
  transform: scale(1.1); 
}

.content-wrapper button#clickTask::before {
  content: ""; 
  position: absolute;
  top: 50%; 
  left: -5px; 
  width: 30px; 
  height: 30px; 
  background: url(../assets/images/add-dark.svg);
  background-size: cover;
  transform: translateY(-50%);
}

.task {
  display: flex;
  background-color: rgb(255, 255, 255);
  border: 0.5px solid rgb(0, 0, 0);
  border-radius: 15px;
  width: var(--task-width);
  height: 50px;
  gap: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.task:last-of-type {
  margin-bottom: 5px;
}

.task:first-of-type {
  margin-top: 5px;
}

.wrap-content {
  position: relative;
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
}

/* DOM Task elements */
.left-task {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  gap: 20px;
}

.right-task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: clamp(100px, 40vw, 180px);
}

input[type="checkbox"] {
  display: none;
}

.custom-checkbox {
  display: flex;
  width: 25px;  
  height: 25px; 
  background-color: var(--);
  border: 0.05rem solid black;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
  position: relative;
  align-items: center; 
  justify-content: center; 
  cursor: pointer;
}

.custom-checkbox:hover {
  background-color: rgb(240, 239, 239);
}

.checkbox-disabled {
  background-color: #e0e0e0;
  border-color: #aaa;
  pointer-events: none; 
  opacity: 0.5;
}

.custom-checkbox::after {
  content: "";
  background: url(../assets/images/checkMark.svg);
  background-size: cover;
  width: 20px;
  height: 20px; 
  opacity: 0;
  transition: opacity 0.4s;
}

input[type="checkbox"]:checked + .custom-checkbox::after {
  opacity: 1;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  display: none;
}

div.task-title {
  font-size: 1.2rem;
}

div.date {
  font-size: 1.2rem;
  text-align: end;
  padding-right: 10px;
  width: clamp(50px, 40vw, 150px);
}

div.priority {
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 10px;
}

div.task-btn-wrapper {
  display: flex;
  gap: 10px;
}

.deleteTask {
  width: 25px;
  height: 25px;
}

.editTask {
  width: 45px;
  height: 25px;
}

div.drop-up-menu {
  display: none;
  flex-direction: column;
  border-radius: 10px;
  gap: 10px;
  padding: 10px;
  position: absolute;
  bottom: -25px;
  left: 70px;
  background-color: #2f2d2d;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  cursor:auto;
  padding: 12px 0 12px 10px;
}

div.drop-up-menu button {
  display: flex;
  align-items: center;
}

.task .drop-up-wrapper {
  margin-right: 10px;
}

button.editTask,
button.deleteTask {
  border: none;
  cursor: pointer;
  position: relative;
  margin-left: 25px;
  color: var(--font-color);
  background-color: transparent;
  transition: transform 0.4s ease;
}

button.editTask:hover,
button.deleteTask:hover {
  transform: scale(1.08);
}

button.editTask::before {
  content: "";
  position: absolute; 
  top: 50%; 
  left: -20px; 
  width: 20px; 
  height: 20px; 
  background: url(../assets/images/edit.svg);
  background-size: cover;
  transform: translateY(-50%);
}

button.deleteTask::before {
  content: ""; 
  position: absolute;
  top: 50%; 
  left: -20px; 
  width: 20px; 
  height: 20px; 
  background: url(../assets/images/delete.svg);
  background-size: cover;
  transform: translateY(-50%);
}

/* Delete all button */

.task-dialog {
  position: absolute;
  display: none;
  top: 30%;
  right: 0;
  width: 300px;
}

dialog {
  padding: 20px;
  border: 2px solid #000;
}

textarea {
  resize: none;
}

/* FOOTER */
.footer {
  grid-area: footer;
  background-color: var(--footer-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  height: 20px;
  width: 20px;
  transition: transform 0.4s ease;
}

.footer span {
  color: var(--font-color-content);
}

.footer a {
  text-decoration: none;
  color: var(--font-color);
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.footer img:hover {
  transform: scale(1.1);
} 

.footer span:hover {
  border-bottom: 1px solid black;
}

.footer a:visited {
  color: var(--font-color);
  text-decoration: none;
}

.footer span {
  font-size: 1rem;
}






